<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layout_idea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Examination.MediumQuiz"></activity>
        <activity android:name=".Examination.EasyQuiz" />
        <activity android:name=".Examination.HardQuiz" />
        <activity android:name=".Electricity.SemiConductors" />
        <activity android:name=".Electricity.Capacitors" />
        <activity android:name=".Electricity.ElecSources" />
        <activity android:name=".Electricity.Current" />
        <activity android:name=".Electricity.ACMeasuring" />
        <activity android:name=".ParticlesAndWaves.Refraction" />
        <activity android:name=".ParticlesAndWaves.Spectra" />
        <activity android:name=".ParticlesAndWaves.Interference" />
        <activity android:name=".ParticlesAndWaves.WaveParticleDuality" />
        <activity android:name=".ParticlesAndWaves.InverseSquareLaw" />
        <activity android:name=".ParticlesAndWaves.NuclearReactions" />
        <activity android:name=".ParticlesAndWaves.TheStandardModel" />
        <activity android:name=".ParticlesAndWaves.ForcesOnChargedParticles" />
        <activity android:name=".OurDynamicUniverse.ExpandingUniverse" />
        <activity android:name=".OurDynamicUniverse.SpecialRelativity" />
        <activity android:name=".OurDynamicUniverse.Gravitation" />
        <activity android:name=".OurDynamicUniverse.CollisionsExplosionsImpulse" />
        <activity android:name=".OurDynamicUniverse.ForcesEnergyPower" />
        <activity android:name=".OurDynamicUniverse.Motion" />
        <activity android:name=".ParticlesAndWaves.pawHome" />
        <activity android:name=".OurDynamicUniverse.oduHome" />
        <activity android:name=".Examination.examDifficulty" />
        <activity android:name=".Electricity.ElecHome" />
        <activity android:name=".Registration" />
        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>