<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layout_idea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Examination.MediumQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".Examination.EasyQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".Examination.HardQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".Electricity.SemiConductors"
            android:screenOrientation="portrait"/>
        <activity android:name=".Electricity.Capacitors"
            android:screenOrientation="portrait"/>
        <activity android:name=".Electricity.ElecSources"
            android:screenOrientation="portrait"/>
        <activity android:name=".Electricity.Current"
            android:screenOrientation="portrait"/>
        <activity android:name=".Electricity.ACMeasuring"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.Refraction"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.Spectra"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.Interference"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.WaveParticleDuality"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.InverseSquareLaw"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.NuclearReactions"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.TheStandardModel"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.ForcesOnChargedParticles"
            android:screenOrientation="portrait"/>
        <activity android:name=".OurDynamicUniverse.ExpandingUniverse"
            android:screenOrientation="portrait"/>
        <activity android:name=".OurDynamicUniverse.SpecialRelativity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OurDynamicUniverse.Gravitation"
            android:screenOrientation="portrait"/>
        <activity android:name=".OurDynamicUniverse.CollisionsExplosionsImpulse"
            android:screenOrientation="portrait"/>
        <activity android:name=".OurDynamicUniverse.ForcesEnergyPower"
            android:screenOrientation="portrait"/>
        <activity android:name=".OurDynamicUniverse.Motion"
            android:screenOrientation="portrait"/>
        <activity android:name=".ParticlesAndWaves.pawHome"
            android:screenOrientation="portrait"/>
        <activity android:name=".OurDynamicUniverse.oduHome"
            android:screenOrientation="portrait"/>
        <activity android:name=".Examination.examDifficulty"
            android:screenOrientation="portrait"/>
        <activity android:name=".Electricity.ElecHome"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registration"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>